services:
  postgres:
    #    image: 'postgres:latest'
    image: 'pgvector/pgvector:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    labels:
      - "org.springframework.boot.service-connection=postgres"
    ports:
      - '5432:5432'

  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'
    environment:
      - 'REDIS_REQUIREPASS=redis'
